form {
  text-align: center;
}
.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
  text-align: right;
}
.contact td{
  width: 480px;
}
.input_form {
  width: 100%;
}
.radio{
  text-align: left;
}
.submit_button{
  font-size: 2.5rem;
  color: #fff;
  background-color: #F5B4B3;
}
.submit_button:hover{
  opacity: 0.5;
}

/*.contact tr:last-child th {
  border-color: #B1B1B1;
}:*/
